<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registration Form</title>
</head>
<body>

<h2>Registration Form</h2>
<section>
<form th:action="@{register}" method="post" th:object="${userObject}">
  <label for="name">Username:</label>
  <input type="text" id="name" name="name" required th:value="${userObject.name}">

  <br>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required>

  <br>

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required th:value="${userObject.email}">
  <br>
  <label for="email">Role:</label>
  <input type="text" id="role" name="role" required th:value="${userObject.role}">

  <br>
  <button type="submit">Register</button>
</form>
</section>
</body>
</html>
